#tools{padding: 0px 10px;}
.uline{text-decoration:underline; font-weight:bold;}
.ui-content {
	margin-top: 50px;
}

.ui-li .ui-btn-text a.ui-link-inherit { /* This are the added classes from jQuery mobile */
    white-space: normal;                /* And this enables more than one line */
}